@use 'sass:color';

$success-color: #4CAF50;
$info-color: #2196F3;
$warning-color: #ff9800;
$error-color: #f44336;

$success-color-over: rgba($success-color, .7);
$info-color-over: rgba($info-color, .7);
$warning-color-over: rgba($warning-color, .7);
$error-color-over: rgba($error-color, .7);

$sidebar-width: 20rem;
$aside-width: 36rem;

$light-menu-color: #ffffff;
$light-menu-shadow-color: rgba(66, 66, 66, .3);
$light-intro-bg-color: #ffffff;
$light-bg-color: #eeeeee;
$light-primary-color: #d4953d; // #2b6ac2;
$light-neutral-color: #333333;
$light-active-color: #000000;
$light-shadow-color: rgba(66, 66, 66, .5);
$light-popup-bg-color: $light-bg-color;
$light-popup-title-bg-color: color.adjust($light-bg-color, $lightness: -8%);
$light-tooltip-bg-color: #303030;
$light-tooltip-text-color: #cccccc;
$light-popover-bg-color: #ffffff;
$light-popover-border-color: color.adjust($light-popover-bg-color, $lightness: -8%);

$dark-menu-color: #1a1a1a;
$dark-menu-shadow-color: rgba(0, 0, 0, .5);
$dark-intro-bg-color: #000000;
$dark-bg-color: #111111;
$dark-primary-color: #d4953d;
$dark-neutral-color: #cccccc;
$dark-active-color: #ffffff;
$dark-shadow-color: rgba(0, 0, 0, .7);
$dark-popup-bg-color: $dark-bg-color;
$dark-popup-title-bg-color: color.adjust($dark-bg-color, $lightness: 4%);
$dark-tooltip-bg-color: #3f3f3f;
$dark-tooltip-text-color: #cccccc;
$dark-popover-bg-color: #262626;
$dark-popover-border-color: color.adjust($dark-popover-bg-color, $lightness: -8%);

$popup-overlay-color: rgba(0, 0, 0, .5);
$popup-shadow-color: rgba(0, 0, 0, .4);

$light-switch-shadow-color: rgba(43, 43, 43, .6);
$dark-switch-shadow-color: rgba(23, 23, 23, .8);

$light-progress-color: #2b6ac2;
$dark-progress-color: #d4953d;

@mixin both {
  --success-color: #{$success-color};
  --success-color-soft: #{rgba($success-color, .3)};
  --success-color-over: #{$success-color-over};
  --info-color: #{$info-color};
  --info-color-soft: #{rgba($info-color, .3)};
  --info-color-over: #{$info-color-over};
  --warning-color: #{$warning-color};
  --warning-color-soft: #{rgba($warning-color, .3)};
  --warning-color-over: #{$warning-color-over};
  --error-color: #{$error-color};
  --error-color-soft: #{rgba($error-color, .3)};
  --error-color-over: #{$error-color-over};

  --popup-overlay-color: #{$popup-overlay-color};
  --popup-shadow-color: #{$popup-shadow-color};

  --switch-ball-color: #{$light-bg-color};
  --switch-width: 2.5em;
  --switch-height: 1.2em;
  --switch-focus-border: 3px;
  --switch-ball-radius: .45em;
  --switch-shadow-spread: .33em;

  --sidebar-width: #{$sidebar-width};
  --aside-width: #{$aside-width};
}

@mixin light {
  --menu-background-color: #{$light-menu-color};
  --menu-shadow-color: #{$light-menu-shadow-color};
  --intro-background-color: #{$light-intro-bg-color};
  --background-color: #{$light-bg-color};
  --background-color-soft: #{color.adjust($light-bg-color, $lightness: -25%)};
  --primary-color: #{$light-primary-color};
  --primary-color-soft: #{color.adjust($light-primary-color, $lightness: -15%)};
  --neutral-color: #{$light-neutral-color};
  --neutral-color-soft: #{color.adjust($light-neutral-color, $lightness: 15%)};
  --active-color: #{$light-active-color};
  --lighter-color: #{color.adjust($light-neutral-color, $lightness: 27%)};
  --shadow-color: #{$light-shadow-color};

  --progress-color: #{$light-progress-color};

  --tooltip-background-color: #{$light-tooltip-bg-color};
  --tooltip-text-color: #{$light-tooltip-text-color};
  --popover-background-color: #{$light-popover-bg-color};
  --popover-border-color: #{$light-popover-border-color};

  --popup-bg-color: #{$light-popup-bg-color};
  --popup-title-bg-color: #{$light-popup-title-bg-color};
  --switch-shadow-color: #{$light-switch-shadow-color};
}

@mixin dark {
  --menu-background-color: #{$dark-menu-color};
  --menu-shadow-color: #{$dark-menu-shadow-color};
  --intro-background-color: #{$dark-intro-bg-color};
  --background-color: #{$dark-bg-color};
  --background-color-soft: #{color.adjust($dark-bg-color, $lightness: 25%)};
  --primary-color: #{$dark-primary-color};
  --primary-color-soft: #{color.adjust($dark-primary-color, $lightness: 15%)};
  --neutral-color: #{$dark-neutral-color};
  --neutral-color-soft: #{color.adjust($dark-neutral-color, $lightness: -15%)};
  --active-color: #{$dark-active-color};
  --lighter-color: #{color.adjust($dark-neutral-color, $lightness: -27%)};
  --shadow-color: #{$dark-shadow-color};

  --progress-color: #{$dark-progress-color};

  --tooltip-background-color: #{$dark-tooltip-bg-color};
  --tooltip-text-color: #{$dark-tooltip-text-color};
  --popover-background-color: #{$dark-popover-bg-color};
  --popover-border-color: #{$dark-popover-border-color};

  --popup-bg-color: #{$dark-popup-bg-color};
  --popup-title-bg-color: #{$dark-popup-title-bg-color};
  --switch-shadow-color: #{$dark-switch-shadow-color};
}

:root {
  @include both;

  &.light {
    @include light;
  }
  
  &.dark {
    @include dark;
  }
}

:root {
  @include light;
}

@media (prefers-color-scheme: light) {
  :root {
    @include light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}
