*,
*::before,
*::after {
  box-sizing: border-box;
}

* {

  ::-webkit-scrollbar {
    // Following will work only for vertical scrollbars
    width: 0.5rem;
    // Following will work only for horizontal scrollbars
    height: 0.5rem;
  }
  
  // For Brave, Chrome, Edge and Safari
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background-color: var(--background-color-soft);
  }
  
  // For Firefox (close enough :-))
  @supports (scrollbar-color: white white) {
    scrollbar-color: var(--background-color-soft) transparent;
    scrollbar-width: thin;
  }
}

html,
body {
  background-color: var(--background-color);
  color: var(--neutral-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  transition:
    color .5s,
    background-color .5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-y: scroll;

  &.popup-opened {
    position: fixed;
    width: 100%;
  }
}

p {
  text-align: justify;
}

ul {
  list-style-type: square;
}

hr {
  opacity: .4;
}

.accent {
  color: var(--primary-color);
}

.rotate {
  animation: spin .8s linear infinite;
}

a {
  color: var(--lighter-color);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &.accent {
    color: var(--primary-color);
  }

  &.with-quotes {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      content: '» ';
      opacity: .35;
    }
  
    &::after {
      content: ' «';
      opacity: .35;
    }
  }
}

input {
  background-color: var(--background-color);
  border: 1px solid var(--background-color-soft);
  border-radius: 6px;
  color: var(--neutral-color);
  font-size: 1em;
  padding: .5em 1em;

  &:not([type=checkbox], [type=radio]) {
    width: 14.25em;
  }
}

textarea {
  width: 14.25em;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.typography {
  padding: .5em 1em;
}

.w-100 {
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@supports (-webkit-touch-callout: none) {
  html,
  body {
    font-size: 16px;
  }
}
