.v-popper--theme-tooltip {
  .v-popper {
    &__inner {
      background: var(--tooltip-background-color);
      color: var(--tooltip-text-color);
    }

    &__arrow-outer {
      border-color: var(--tooltip-background-color);
    }
  }
}

.v-popper--theme-dropdown {
  .v-popper {
    &__inner {
      background: var(--popover-background-color);
      color: var(--neutral-color);
      border: 1px solid var(--popover-border-color);
      box-shadow: 0 6px 30px var(--shadow-color);
    }

    &__arrow-inner {
      border-color: var(--popover-background-color);
    }

    &__arrow-outer {
      border-color: var(--popover-border-color);
    }
  }
}

.v-popper__popper[data-popper-placement^=top] {
  .v-popper__arrow-outer {
    top: -1px;
  }
}

.v-popper__popper[data-popper-placement^=bottom] {
  .v-popper__arrow-outer {
    top: -5px;
  }
}

.v-popper__popper[data-popper-placement^=right] {
  .v-popper__arrow-outer {
    left: -5px;
  }
}

.v-popper__popper[data-popper-placement^=left] {
  .v-popper__arrow-outer {
    left: -1px;
  }
}
