.ui-form {
  display: flex;
  flex-direction: column;
  gap: 1.2em;

  .ui-input,
  .ui-input .ui-input__input {
    width: 100%;
  }

  &__content {
    margin-bottom: 2em;
  }

  &__buttons {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
  }
}
