.ui-height-transition {
  height: auto;

  &--active {
    overflow: hidden;
    transition: height .5s ease-out;
  }
}

.height-transition-enter-from,
.height-transition-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.height-transition-enter-to,
.height-transition-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.height-transition-top-enter-from,
.height-transition-top-leave-to {
  opacity: 0;
}

.height-transition-top-enter-to,
.height-transition-top-leave-from {
  opacity: 1;
}

.height-transition-enter-active,
.height-transition-leave-active,
.height-transition-top-enter-active,
.height-transition-top-leave-active {
  transition: transform .5s ease-out,
              opacity .5s ease-out;
}
