.ui-input {
  &__input {
    transition: background-color .5s;

    &:disabled {
      cursor: not-allowed;
      opacity: .4;
    }
  }

  &__label {
    margin-bottom: .25em;
  }

  &--disabled {
    cursor: not-allowed;

    >.ui-input__label {
      opacity: .4;
    }
  }
}
