.ui-progress {
  pointer-events: none;
  position: relative;
  transition: top 300ms ease,
              opacity 500ms ease;

  &--hidden {
    opacity: 0;
    top: -.15rem;
  }

  &__bar {
    background: var(--progress-color);
    box-shadow: 0 0 1rem var(--progress-color),
                0 0 .5rem var(--progress-color);
    height: .2rem;
    left: 0;
    position: fixed;
    top: 0;
    transition: transform 3500ms ease;
    transform-origin: left center;
    width: 100%;
    z-index: 1000;
  }
}
