# Dependencies
node_modules

# Build output
dist/
tsconfig.tsbuildinfo

# Data directories
data/db/
data/uploads/
data/backups/

# Docker artifacts
*.tar
*.gz

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
